main.casino-page {
  .row {
    .sidebar-section {
      max-width: em(350);

      .sidebar {
        display: flex;
        flex-direction: column;
        margin-top: em(20);

        @include brkpnt(custom-desktop) {
          margin-top: 0;
        }

        & > a {
          display: flex;
          justify-content: center;
        }

        .casino-info {
          @extend %ul-no-bullets;

          display: flex;
          flex-direction: column;
          max-width: em(310);
          border: 1px solid $light-grey;
          padding: 10px;
          justify-content: space-around;

          li {
            padding: em(10) 0;

            span {
              @extend %inline-heading;

              color: $base-color;
              font-size: 16px;
              margin-right: 10px;
            }

            a {
              color: $medium-grey;
              text-decoration: none;
            }

            p {
              display: inline;
              padding: 0;
              margin: 0;
            }
          }

          @include brkpnt(custom-desktop) {
            border: none;
          }
        }
      }

      @include brkpnt(tablet) {
        align-self: stretch;
      }
    }
  }
}
