a[data-modal] > * {
  pointer-events: none;
}

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  animation: fadeout 0.3s;
  animation-fill-mode: forwards;
  z-index: 99999;

  .modal-frame {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    background: #fff;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.2);
    transform-origin: center;
    animation: modalDown 0.4s;
    animation-fill-mode:forwards;
    transition-timing-function: cubic-bezier(0.42,0,1,1);
    overflow: hidden;
    overflow-y: auto;

    .modal-container {
      position: relative;
      padding: 30px 40px;

      .modal-content {

        .container {
          flex-wrap: wrap;
        }
      }
      .close-icon {
        position: absolute;
        top: 5px;
        right: 5px;
        width: em(25);
        height: em(25);
        background-image: url("../images/icons/times-circle.svg");

        &:hover {
          background-image: url("../images/icons/times-circle-bold.svg");
        }
      }
    }
  }

  &.show-modal {
    animation: fadein 0.35s;
    animation-fill-mode: forwards;

    .modal-frame {
      animation: modalUp 0.4s;
      animation-fill-mode:forwards;
      transition-timing-function: cubic-bezier(0,0,0.58,1);

      .modal-container {
        .modal-content {
          transition-delay: 0s;
          animation: contentUp 0.4s;
          animation-fill-mode:forwards;
          transition-timing-function: ease;
        }
      }
    }
  }
}
