.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  h4 {
    font-size: 18px;
    margin-top: 0;

    &:last-child {
      margin: 40px 0 0 0;
    }
  }

  a {
    display: flex;
    height: 40px;
    margin-bottom: 10px;
    width: 300px;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;

    &::before {
      content: "";
      height: 25px;
      width: 25px;
      margin-right: 15px;
      background-repeat: no-repeat;
    }

    &.facebook {
      background-color: #3b5998;
      border-color: #3b5998 #2b416f #2b416f #3b5998;
      box-shadow: 1px 1px 0 0 rgba(0,0,0,0.25);
      color: $white;


      &::before {
        background-image: url(../images/facebook.svg);
      }
    }

    &.google {
      background-color: $white;
      box-shadow: 1px 1px 0 #767676;
      border: 1px solid #e5e5e5;
      color: $medium-grey;

      &::before {
        background-image: url(../images/google.svg);
      }
    }
  }
}

.login-form {
  label {
    color: $medium-grey;
  }
}
