@keyframes slidein {
  from {
    top: -100px;
  }

  to {
    top: 0;
  }
}

@keyframes fadein {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

@keyframes fadeout {
  0% {
    background-color: rgba(255, 255, 255, 0.7);
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes modalUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2);
  }

  66% {
    transform: translate(-50%, -50%) scale(1.25);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes modalDown {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  33% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.25);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes contentUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  66% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
