$white: #fff;
$black: #000;

$light-grey: #CCCCCC;
$medium-grey: #546E7A;
$dark-grey: #263238;
$red: #F44336;
$yellow: #FFDD40;
$blue: #609cec;

$base-color: #E33258; /* Orange */
$alternate-color: #B8AF03; /* Weird Green */
$tertiary-color: #6FB1B8; /* Light Blue */
$misc-color: #67917A; /* Stony Green */

/* Background */
$body-bkg-color: linear-gradient($misc-color, $white);
$fader-color: $white;

/* Footer BKG, Text Color & border */
$footer-bkg: $tertiary-color;
$footer-txt-color: $white;
$footer-border-color: $tertiary-color;

/* Search Border & BKG */
$search-border-color: $tertiary-color;
$search-bkg: $tertiary-color;

/*
  Font Stacks
*/

$stack-sans-serif: Helvetica, Arial, sans-serif;
$stack-open-sans: 'Roboto', $stack-sans-serif;
$stack-raleway: 'Raleway', $stack-sans-serif;


/*
  Breakpoints
*/

$brk-point-small:   'screen and (min-width: ' + em(320) + ')';
$brk-point-custom-small:   'screen and (min-width: ' + em(498) + ')';
$brk-point-medium:  'screen and (min-width: '+ em(767) + ')';
$brk-point-custom-medium:  'screen and (min-width: '+ em(989) + ')';
$brk-point-large:   'screen and (min-width: ' + em(1023) + ')';
$brk-point-custom-large:   'screen and (min-width: ' + em(1200) + ')';
