.casino-page {
  header.row {
    justify-content: center;
    margin: em(10) 0 em(20);

    @include brkpnt(tablet) {
      justify-content: flex-start;
    }
  }

  & > div:first-of-type {
    border: none;

    @include brkpnt(tablet) {
      border: 1px solid $light-grey;
      padding: em(10);
    }
  }

  .payment-methods {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: em(10);

    span{
      @extend %inline-heading;
      margin-right: em(10);
    }

    div {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @include brkpnt(tablet) {
        flex-wrap: nowrap;
      }

      img {
        width: 45px;
        padding-right: em(5);
        margin-bottom: em(5);

        @include brkpnt(tablet) {
          margin: 0;
        }
      }
    }
  }

  .content-box {
    margin: em(30) 0;

    .casinos-img {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      margin-top: em(10);

      a {
        display: flex;
        background-color: $white;
        transition: background-color 1s;
        margin-top: em(20);

        img {
          border: 1px solid $alternate-color;
          padding: em(5);
        }

        &:hover {
          background-color: $alternate-color;
        }

        @include brkpnt(tablet){
          margin-top: 0;
        }
      }

      @include brkpnt(tablet) {
        flex-direction: row;
      }
    }
  }

  .table-container {
    margin: em(30) 0;
  }

  .news-box {
    margin: em(30) 0;

    .news-item {
      border: 1px solid $light-grey;
      padding: em(10);
      margin-top: em(10);
      background-color: $white;
      transition: background-color 1s;

      header {
        margin-bottom: em(10);

        h4 {
          margin-bottom: 0;
        }

        span {
          display: block;
          font-size: em(14);
          font-style: italic;
          text-align: center;

          @include brkpnt(tablet){
            text-align: left;
          }
        }
      }

      a {
        display: block;
        text-decoration: none;
        color: $medium-grey;

        .news-content {
          display: block;

          figure {
            flex-basis: em(350);
            border: 1px solid $alternate-color;
            padding: 5px;
            margin-right: em(10);
            transition: border-color 1s;
          }

          @include brkpnt(tablet) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
          }
        }
      }

      &:hover {
        background-color: $alternate-color;
        transition: background-color 1s;

        a {
          color: $white;

          figure {
            border-color: $white;
            transition: border-color 1s;
          }
        }
      }
    }
  }
}
