nav {
  &.main-nav-container {
    position: relative;
    background: $white;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    .logo {
      margin-right: 15px;
    }

    @include brkpnt(custom-desktop) {
      flex-direction: row;
    }
  }
}

aside.banner {
  padding: 10px 0;

  a {
    display: flex;
    justify-content: center;
  }
}
