main.container {
  padding-bottom: 10px;

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include brkpnt(custom-desktop) {
      align-items: flex-start;
      flex-wrap: nowrap;
    }

    .main-section {
      position: relative;
      flex-basis: 890px;
      overflow: hidden;

      @include brkpnt(tablet) {
        margin-right: em(10);
      }
    }

    .sidebar-section {
      position: relative;
      max-width: 100%;

      @include brkpnt(custom-desktop) {
        max-width: 250px;
      }
    }
  }

  .content-box {
    margin: 20px 0;
  }

  .content-box.fader {
    max-height: em(220);
    position: relative;
    overflow: hidden;

    .mobile-read-more {
      display: flex;
      position: absolute;
      height: 120px;
      top: 115px;
      width: 100%;
      background: linear-gradient(to bottom, rgba($fader-color,0), rgba($fader-color,0.8) 38%, rgba($fader-color,1) 40%);
      justify-content: center;
      align-items: flex-end;

      @include brkpnt(tablet) {
        display: none;
      }

      .btn {
        position: absolute;
        top: 65px;
        font-size: 10px;
        margin: em(5) 0;
      }
    }

    &.short {
      max-height: em(130);

      .mobile-read-more {
        height: em(200);
        top: em(30);
      }

      @include brkpnt(tablet) {
        max-height: 100%;
      }
    }

    &.show {
      max-height: 100%;

      .mobile-read-more {
        display: none;
      }
    }

    @include brkpnt(tablet) {
      max-height: 100%;
    }
  }
}
